extends layout

block content
  .jumbotron
    h1.display-3 Just Kidding!
    p.about.
      This website has nothing to do with net neutrality. It is a project given to me in my
      Web Apps class. The idea here is to tie everything that was learned during the semester together and
      put it in a single application!
      The application is utilizing the following technologies:

    ul.list-unstyled
      li
        a(href="https://nodejs.org/en/") Node
      li
        a(href="http://expressjs.com/") Express
      li
        a(href="https://pugjs.org/api/getting-started.html") Pug
      li
        a(href="http://getbootstrap.com/") Bootstrap
      li
        a(href="https://www.w3schools.com/Css/") Some custom CSS
      li
        a(href="https://www.mongodb.com/") MongoDB

    p.about.
      For contacts, email me at: #[a(href="mailto:inenovsk@ramapo.edu") #[b inenovsk@ramapo.edu]]