extends layout

block content
  .jumbotron
    h1.display-3 Oops!!
    p.
      Seems like you have hit a wrong page.. Please go back to #[a.link(href='/index') Home]
      and start from the beginning! 

    // Keep these three lines commented out when in production. Don't wanna scare the user..
    //h1= message
    //h2= error.status
    //pre #{error.stack}
