extends layout

block content
  .jumbotron
    h1.display-3 A service you'll fall in love with
    blockquote.blockquote.text-center
      p.
        Welcome to this new ground-breaking, revolutionary web technology
        that is about to change the way we perceive online communications. The era
        of net neutrality is over, however, we are about to take control of the
        Internet back to where it belongs - ourselves!
    
      .blockquote-footer Ivaylo Nenovski
