doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      
  body
    h1.head A service you'll fall in love with..
    nav.navigation
      a(href="/index")
        button.menuButton Home
      a(href="/mailer")
        button.menuButton Register
      a(href="/contacts")
        button.menuButton Contacts
      a(href="/about")
        button.menuButton About
    br
    
    block content
