doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      
  body
    h1.head A service you'll fall in love with..
    nav.navigation
      a(href="/index")
        button.menuButton Home
      a(href="/users")
        button.menuButton Users
    br
    
    block content
