extends layout

block content
  .jumbotron
    -
      var states = ["AK","AL","AR","AZ","CA","CO","CT","DC","DE",
                    "FL","GA","GU","HI","IA","ID", "IL","IN","KS",
                    "KY","LA","MA","MD","ME","MH","MI","MN","MO","MS",
                    "MT","NC","ND","NE","NH","NJ","NM","NV","NY", "OH",
                    "OK","OR","PA","PR","PW","RI","SC","SD","TN","TX","UT",
                    "VA","VI","VT","WA","WI","WV","WY"]

    h1.display-3 Register a new member

    form(action="/mailer/registerUser", method='post')
      .form-check.form-check-inline
        label.col-form-label(for="title") Title: 
        label.custom-control.custom-radio
          input.custom-control-input(type="radio", name="title", value="Mr.", checked)
          span.custom-control-indicator
          span.custom-control-description Mr.
        label.custom-control.custom-radio
          input.custom-control-input(type="radio", name="title", value="Mrs.", checked)
          span.custom-control-indicator
          span.custom-control-description Mrs.
        label.custom-control.custom-radio
          input.custom-control-input(type="radio", name="title", value="Ms.", checked)
          span.custom-control-indicator
          span.custom-control-description Ms.
        label.custom-control.custom-radio
          input.custom-control-input(type="radio", name="title", value="Dr.", checked)
          span.custom-control-indicator
          span.custom-control-description Dr.
      
      .row
        .col
          label(for="firstName") First Name: 
          input.form-control(type="text", name='firstName', placeholder='John' required)
        .col
          label(for="lastName") Last Name: 
          input.form-control(type="text", name='lastName', placeholder='Doe' required)
      
      .row
        .col
          label.col-sm-2.col-form-label(for="steet") Street: 
          input.form-control(type="text", name='street' required)
        .col
          label.col-sm-2.col-form-label(for="City") City: 
          input.form-control(type="text", name='city' required)

      .row
        .col
          label.col-sm-2.col-form-label(for="state") State: 
          select.form-control.custom-select(name="state")
            each state in states
              option(value=state) #{state}
        .col
          label.col-sm-2.col-form-label(for="zip") Zip: 
          input.form-control(type="text", name='zip' required)
      
      
      label.col-sm-2.col-form-label(for="phone") Phone: 
      input.form-control(type="text", name='phone' required)

      label.col-sm-2.col-form-label(for="email") Email: 
      input.form-control(type="text", name='email' required)

      .form-check.form-check-inline
        label.col-form-label(for="how") How may we contact you?
        label.custom-control.custom-checkbox
          input.custom-control-input(type="checkbox", name="how", value="Phone", checked)
          span.custom-control-indicator
          span.custom-control-description Phone
        label.custom-control.custom-checkbox
          input.custom-control-input(type="checkbox", name="how", value="Mail",)
          span.custom-control-indicator
          span.custom-control-description Mail
        label.custom-control.custom-checkbox
          input.custom-control-input(type="checkbox", name="how", value="Email",)
          span.custom-control-indicator
          span.custom-control-description Email
        label.custom-control.custom-checkbox
          input.custom-control-input(type="checkbox", name="how", value="Any",)
          span.custom-control-indicator
          span.custom-control-description Any

      br
      
      input.btn-primary.btn-lg.btn-block(type="submit" value="Register!")
